body {
  background: url(../pictures/action-blur-close-up-735911.png);
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
}
.signUpContainer {
  margin-top: 100px;
  width: 100%;
  min-height: 800px;
  background: #3e3d3d;
  opacity: 0.8;
  flex-wrap: nowrap;
}
h1 {
  text-align: center;
  font-size: 50px;
}

.signupWith {
  text-align: center;
  font-size: 20px;
}
hr {
  border-color: orange;
  margin-top: 43px;
}
.lefthr {
  width: 100%;
}
.righthr {
  width: 100%;
}
h2 {
  width: 250px;
}
.spaceBet {
  display: flex;
}
.or {
  width: 70px;
}
.inputs {
  display: inline-block;
  text-align: center;
}
#alias {
  margin: 0;
}
.inputs input {
  height: 20px;
  margin-top: 40px;
  width: 560px;
}
a {
  display: inline-block;
  text-align: center;
}
button {
  cursor: pointer;
  font-size: 25px;
  border-radius: 20px;
  height: 98px;
  width: 30%;
  background: black;
  color: white;
  padding: 1em;
  margin-top: 0.2em;
  border: none;
  font-family: "Montserrat";
}
button:hover {
  background: #f94d4d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (min-width: 1020px) {
  .signUpContainer {
    width: 50%;
  }
}
